<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/admin-header :: head"></head>
<body class="body-area">
    <th:block th:replace="~{include/admin-sidebar :: sidebar(~{::content})}">
    <!--header breadcrumb area-->
        <div class="app__slide-wrapper" th:fragment="content">
            <div class="breadcrumb__area">
                <div class="breadcrumb__wrapper mb-35" style="padding: 0px;">
                    <div class="breadcrumb__main">
                        <div class="breadcrumb__inner">
                            <div class="breadcrumb__icon">
                                <i class="flaticon-home"></i>
                            </div>
                            <div class="breadcrumb__menu">
                                <nav>
                                    <ul>
                                        <li class="active" style="margin-bottom: 20px; margin-top: 20px"><span>Dashboard</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- insert main content here -->
        <section th:fragment="content">
            <p>Hello World</p>
            <p>Hello World</p>
            <p>Hello World</p>
            <p>Hello World</p>
            <p>Hello World</p>
            <p>Hello World</p>
            <p>Hello World</p>
            <p>Hello World</p>
            <p>Hello World</p>
        </section>
    </th:block>
<footer th:replace="~{include/master-footer :: footer}"></footer>
</body>
</html>






