    <!-- JS here -->
<footer th:fragment="footer">
        <script src="/assets/js/jquery-3.6.0.min.js"></script>
        <script src="/assets/js/waypoints.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/charts.min.js"></script>
        <script src="/assets/js/metisMenu.min.js"></script>
        <script src="/assets/js/meanmenu.min.js"></script>
        <script src="/assets/js/swiper-bundle.min.js"></script>
        <script src="/assets/js/slick.min.js"></script>
        <script src="/assets/js/magnific-popup.min.js"></script>
        <script src="/assets/js/backtotop.js"></script>
        <script src="/assets/js/counterup.js"></script>
        <script src="/assets/js/wow.min.js"></script>
        <script src="/assets/js/countdown.js"></script>
        <script src="/assets/js/smooth-scrollbar.js"></script>
        <script src="/assets/js/ajax-form.js"></script>
        <script src="/assets/js/custom.js"></script>
        <script src="/assets/js/main.js"></script>
</footer>
