    <!-- JS here -->
<footer th:fragment="footer">
        <script src="/src/main/webapp/assets/js/jquery-3.6.0.min.js"></script>
        <script src="/src/main/webapp/assets/js/waypoints.min.js"></script>
        <script src="/src/main/webapp/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/src/main/webapp/assets/js/apexcharts.min.js"></script>
        <script src="/src/main/webapp/assets/js/metisMenu.min.js"></script>
        <script src="/src/main/webapp/assets/js/meanmenu.min.js"></script>
        <script src="/src/main/webapp/assets/js/swiper-bundle.min.js"></script>
        <script src="/src/main/webapp/assets/js/slick.min.js"></script>
        <script src="/src/main/webapp/assets/js/magnific-popup.min.js"></script>
        <script src="/src/main/webapp/assets/js/backtotop.js"></script>
        <script src="/src/main/webapp/assets/js/counterup.js"></script>
        <script src="/src/main/webapp/assets/js/wow.min.js"></script>
        <script src="/src/main/webapp/assets/js/countdown.js"></script>
        <script src="/src/main/webapp/assets/js/smooth-scrollbar.js"></script>
        <script src="/src/main/webapp/assets/js/ajax-form.js"></script>
        <script src="/src/main/webapp/assets/js/custom.js"></script>
        <script src="/src/main/webapp/assets/js/main.js"></script>
</footer>
